##### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

##### Importing Data

In [2]:
deli = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/deliveries.csv")
match = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/matches.csv")

In [3]:
print("Deliveries:",deli.shape)
deli.head()

Deliveries: (179078, 21)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
print("Matches:",match.shape)
match.head()

Matches: (756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deli.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [6]:
match.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

### Data Preprocessing

##### Seeing the unique values in some of the columns

In [7]:
for (columnName, columnData) in deli[['inning','batting_team','over','ball','is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs','dismissal_kind']].iteritems(): 
    print('Deliveries - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n') 
print("\n---------------------------------\n")
for (columnName, columnData) in match[['season','city','team1','toss_decision','result','dl_applied','venue']].iteritems(): 
    print('Matches - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n')

Deliveries - Colunm Name: inning
Unique Values: [1 2 3 4 5]

Deliveries - Colunm Name: batting_team
Unique Values: ['Sunrisers Hyderabad' 'Royal Challengers Bangalore' 'Mumbai Indians'
 'Rising Pune Supergiant' 'Gujarat Lions' 'Kolkata Knight Riders'
 'Kings XI Punjab' 'Delhi Daredevils' 'Chennai Super Kings'
 'Rajasthan Royals' 'Deccan Chargers' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Delhi Capitals']

Deliveries - Colunm Name: over
Unique Values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Deliveries - Colunm Name: ball
Unique Values: [1 2 3 4 5 6 7 8 9]

Deliveries - Colunm Name: is_super_over
Unique Values: [0 1]

Deliveries - Colunm Name: wide_runs
Unique Values: [0 2 1 5 3 4]

Deliveries - Colunm Name: bye_runs
Unique Values: [0 1 4 2 3]

Deliveries - Colunm Name: legbye_runs
Unique Values: [0 1 2 5 3 4]

Deliveries - Colunm Name: noball_runs
Unique Values: [0 1 2 5 3]

Deliveries - Colunm Name: penalty_runs
Unique Values: [0 5]

Deliveries - Colunm Name: batsman_runs
Unique Values: [0 4 1 6 3 2 5 7]

Deliveries - Colunm Name: extra_runs
Unique Values: [0 2 1 4 5 3 7]

Deliveries - Colunm Name: total_runs
Unique Values: [ 0  4  2  1  6  3  5  7 10  8]

Deliveries - Colunm Name: dismissal_kind
Unique Values: [nan 'caught' 'bowled' 'run out' 'lbw' 'caught and bowled' 'stumped'
 'retired hurt' 'hit wicket' 'obstructing the field']


---------------------------------

Matches - Colunm Name: season
Unique Values: [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016 2018 2019]

Matches - Colunm Name: city
Unique Values: ['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' nan
 'Mohali' 'Bengaluru']

Matches - Colunm Name: team1
Unique Values: ['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

Matches - Colunm Name: toss_decision
Unique Values: ['field' 'bat']

Matches - Colunm Name: result
Unique Values: ['normal' 'tie' 'no result']

Matches - Colunm Name: dl_applied
Unique Values: [0 1]

Matches - Colunm Name: venue
Unique Values: ['Rajiv Gandhi International Stadium, Uppal'
 'Maharashtra Cricket Association Stadium'
 'Saurashtra Cricket Association Stadium' 'Holkar Cricket Stadium'
 'M Chinnaswamy Stadium' 'Wankhede Stadium' 'Eden Gardens'
 'Feroz Shah Kotla' 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Green Park' 'Punjab Cricket Association Stadium, Mohali'
 'Sawai Mansingh Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Dr DY Patil Sports Academy' 'Newlands' "St George's Park" 'Kingsmead'
 'SuperSport Park' 'Buffalo Park' 'New Wanderers Stadium'
 'De Beers Diamond Oval' 'OUTsurance Oval' 'Brabourne Stadium'
 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'M. A. Chidambaram Stadium' 'Feroz Shah Kotla Ground'
 'M. Chinnaswamy Stadium' 'Rajiv Gandhi Intl. Cricket Stadium'
 'IS Bindra Stadium' 'ACA-VDCA Stadium']

##### Shortening and Changing similiar names for easier understanding

In [8]:
old = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals']
new = ['SRH', 'RCB', 'MI', 'RPS', 'GUJ', 'KKR', 'KXIP', 'DC', 'CSK', 'RR', 'SRH', 'KOCHI', 'PUNE', 'RPS', 'DC']
deli = deli.replace(old, new )
match = match.replace(old, new)

print(deli['batting_team'].unique(), "Size:",deli['batting_team'].unique().shape[0],'\n')
print(match['team1'].unique(), "Size:",match['team1'].unique().shape[0])

['SRH' 'RCB' 'MI' 'RPS' 'GUJ' 'KKR' 'KXIP' 'DC' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

['SRH' 'MI' 'GUJ' 'RPS' 'RCB' 'KKR' 'DC' 'KXIP' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

In [9]:
new_stad = ['Rajiv Gandhi International Stadium',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
 'Green Park', 'Punjab Cricket Association IS Bindra Stadium',
 'Sawai Mansingh Stadium', 'M. A. Chidambaram Stadium',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi International Stadium',
 'Punjab Cricket Association IS Bindra Stadium', 'ACA-VDCA Stadium'] 
 
old_stad = ['Rajiv Gandhi International Stadium, Uppal',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Green Park', 'Punjab Cricket Association Stadium, Mohali',
 'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium, Motera', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
 'IS Bindra Stadium', 'ACA-VDCA Stadium'] 

match = match.replace(old_stad, new_stad) 
match['venue'].unique()

array(['Rajiv Gandhi International Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
       'Green Park', 'Sawai Mansingh Stadium',
       'M. A. Chidambaram Stadium', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium', 'Sardar Patel Stadium',
       'Barabati Stadium', 'Vidarbha Cricket Association Stadium',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'ACA-VDCA Cricket Stadium', 'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'ACA-VDCA Stadium'], dtype=object)

In [10]:
old_diss = [None, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled', 'stumped',
 'retired hurt', 'hit wicket', 'obstructing the field']
new_diss = ["0","1","1","0","1","1","1","0","1","0"]
new_diss2 = ["0","1","1","1","1","1","1","1","1","1"]
deli['dismissal_by_bowler'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['dismissal_by_bowler'] = deli['dismissal_by_bowler'].astype(int)
deli['is_out'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['is_out'] = deli['is_out'].astype(int)
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,dismissal_by_bowler,is_out
0,1,1,SRH,RCB,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
1,1,1,SRH,RCB,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2,1,1,SRH,RCB,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,4,0,4,NaN,NaN,NaN,0,0
3,1,1,SRH,RCB,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
4,1,1,SRH,RCB,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,2,2,NaN,NaN,NaN,0,0

##### Removing data of matches that were not played

In [11]:
match.iloc[np.where(match['winner'].isnull() == True)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [12]:
print(match.shape)
no_res = np.where(match['result'] == 'no result')[0]
match.iloc[no_res]

(756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [13]:
for i in no_res:
    id = match.iloc[i]['id']
    a = np.where(deli['match_id'] == id)[0]
    deli = deli.drop(a).reset_index().drop(['index'], axis=1)

match = match.drop(no_res).reset_index().drop(['index'], axis=1)

#### Adding is_four and is_six column

In [14]:
is_four = []
is_six = []
for i in deli['batsman_runs']:
    if i == 4 or i == 5:
        is_four.append(1)
        is_six.append(0)
    elif i == 6 or i == 7:
        is_four.append(0)
        is_six.append(1)
    else:
      is_four.append(0)
      is_six.append(0)
      
deli['is_four'] = is_four
deli['is_six'] = is_six

In [15]:
is_no = []
is_wide = []
is_bye = []
is_legbye = []
for i in deli['noball_runs']:
    if i != 0:
        is_no.append(1)
    else:
        is_no.append(0)

for i in deli['wide_runs']:
    if i != 0:
        is_wide.append(1)
    else:
        is_wide.append(0)
    
for i in deli['bye_runs']:
    if i != 0:
        is_bye.append(1)
    else:
        is_bye.append(0)
    
for i in deli['legbye_runs']:
    if i != 0:
        is_legbye.append(1)
    else:
        is_legbye.append(0)
    
deli['is_no'] = is_no
deli['is_wide'] = is_wide
deli['is_bye'] = is_bye
deli['is_legbye'] = is_legbye

##### Adding year column to deliveries

In [16]:
match_id = deli['match_id'].values.tolist()
year = []
for i in match_id:
    y = match[match['id']==i]['season'].values.tolist()
    year.append(y[0])
deli['year'] = year

## Functions

##### Head to Head and last 3 years

In [17]:
def head2head(t1,t2,df = match):
    s1 = (df['team1'] == t1) & (df['team2'] == t2)
    s2 = (df['team1'] == t2) & (df['team2'] == t1)
    head = df.iloc[np.where(s1 | s2)]
    head = head.sort_values(by = 'season').reset_index().drop(['id','index'], axis=1)
    return head

def last3years():
    y1 = deli.iloc[np.where(deli['year'] == 2017)[0]]
    y2 = deli.iloc[np.where(deli['year'] == 2018)[0]]
    y3 = deli.iloc[np.where(deli['year'] == 2019)[0]]
    year3 = pd.DataFrame.append(y1,y2, ignore_index=True)
    year3 = pd.DataFrame.append(year3,y3, ignore_index=True)
    return year3

##### Head to Head Score Function

In [18]:
def head(t1, t2):
  head_to_head = head2head(t1,t2)
  t1_win=0
  t2_win=0
  for i in head_to_head['winner']:
    if i == t1:
      t1_win+=1
    if i == t2:
      t2_win+=1
  t1_arr = []
  t2_arr = []
  year_arr = []
  for i in head_to_head[['season','winner']].iterrows():
      index, year, win = i[0], i[1][0], i[1][1]
      if year in year_arr:
          if win == t1:
              t1_arr[year_arr.index(year)]+=1  
          if win == t2:
              t2_arr[year_arr.index(year)]+=1  
      else:
          year_arr.append(year)
          if win == t1:
              t1_arr.append(1)
              t2_arr.append(0)
          if win == t2:
              t1_arr.append(0)
              t2_arr.append(1)
  win_by_year = pd.DataFrame([t1_arr, t2_arr], columns = year_arr, index = [t1, t2])
  print("Head to Head:",t1,'v/s',t2)
  print(t1+':', t1_win)
  print(t2+':', t2_win) 
  return win_by_year

##### Total score of the match

In [19]:
def tot_runs(t1,t2,df=deli):
    df1 = df[df['batting_team'] == t1]
    df1 = df1[df1['bowling_team'] == t2]
    df2 = df[df['batting_team'] == t2]
    df2 = df2[df2['bowling_team'] == t1]
    df3 = pd.DataFrame.append(df1,df2, ignore_index=True)
    tot_run = df3.groupby(['match_id'], sort = False)['total_runs'].sum().reset_index()    
    print(tot_run['total_runs'].describe())
    print(tot_run['total_runs'].sort_values().values)

##### Total wickets lost for a team

In [20]:
def tot_wick(t1,t2,df, start, end):
    df1 = df[df['batting_team'] == t1]
    df1 = df1[df1['bowling_team'] == t2]
    df1 = df1[df1['over'] <= end]
    df1 = df1[df1['over'] >= start]
    tot_out = df1.groupby(['match_id'], sort = False)['is_out'].sum().reset_index()    
    print(tot_out['is_out'].describe())
    print(tot_out['is_out'].sort_values().values)

##### Batsman out

In [21]:
def batsman_out(bat, ag, df):
    df1 = df[df['batsman'] == bat]
    print(df1['dismissal_kind'].value_counts(),'\n')
    df1 = df1[df1['bowling_team'] == ag]
    print(df1['dismissal_kind'].value_counts())

##### Total score by team

In [22]:
def tot_runs_team(t1,t2, check,df = deli):
    df1 = df[df['batting_team'] == t1]
    df1 = df1[df1['bowling_team'] == t2]
    if check != 0:
        if check == 4:
            col = 'is_four'
        if check == 6:
            col = 'is_six'
    else:
        col = 'total_runs'
    tot_run = df1.groupby(['match_id'], sort = False)[col].sum().reset_index()    
    print(tot_run[col].describe())
    print(tot_run[col].sort_values().values)

## Predicting Outputs

##### Defining Variables

In [23]:
bowler = ''
batsman = 'RG Sharma'
t1, t2 = 'MI','KKR'

##### Calling functions

In [24]:
head_tab = head(t1, t2)
head_tab

Head to Head: MI v/s KKR
MI: 19
KKR: 6

     2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
MI      2     2     1     2     1     2     0     1     2     3     2     1
KKR     0     0     1     0     1     0     2     1     0     0     0     1

In [26]:
print("ALL TIME: ")
tot_wick(t1,t2,deli, 6, 15)
print("\nLAST 3 YEARS:")
tot_wick(t1,t2,last3years(), 6, 15)

ALL TIME:
count    25.000000
mean      2.080000
std       1.115049
min       0.000000
25%       1.000000
50%       2.000000
75%       3.000000
max       4.000000
Name: is_out, dtype: float64
[0 0 0 1 1 1 1 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 4]

LAST 3 YEARS:
count    7.000000
mean     2.428571
std      1.133893
min      1.000000
25%      1.500000
50%      3.000000
75%      3.000000
max      4.000000
Name: is_out, dtype: float64
[1 1 2 3 3 3 4]

In [28]:
print("ALL TIME: ")
tot_runs(t1,t2,deli)
print("\nLAST 3 YEARS:")
tot_runs(t1,t2,last3years())

ALL TIME:
count     25.000000
mean     307.400000
std       59.652466
min      135.000000
25%      280.000000
50%      311.000000
75%      338.000000
max      445.000000
Name: total_runs, dtype: float64
[135 218 248 268 275 275 280 282 283 285 287 295 311 321 326 337 337 337
 338 352 353 358 364 375 445]

LAST 3 YEARS:
count      7.000000
mean     332.571429
std       70.978535
min      218.000000
25%      303.000000
50%      337.000000
75%      361.000000
max      445.000000
Name: total_runs, dtype: float64
[218 280 326 337 358 364 445]

In [27]:
print("ALL TIME: ")
tot_runs_team(t2,t1, 4, deli)
print("\nLAST 3 YEARS:")
tot_runs_team(t2,t1, 4,last3years())

ALL TIME:
count    25.000000
mean     13.200000
std       4.472136
min       3.000000
25%      11.000000
50%      14.000000
75%      15.000000
max      23.000000
Name: is_four, dtype: float64
[ 3  7  8  8  8 10 11 11 12 12 13 14 14 14 14 14 15 15 15 16 16 17 19 21
 23]

LAST 3 YEARS:
count     7.000000
mean     13.571429
std       6.948792
min       3.000000
25%      10.000000
50%      14.000000
75%      17.500000
max      23.000000
Name: is_four, dtype: float64
[ 3  8 12 14 14 21 23]

In [25]:
print("ALL TIME: ")
batsman_out(batsman, t2, deli)
print("\nLAST 3 YEARS:")
batsman_out(batsman, t2, last3years())

ALL TIME:
caught               103
bowled                22
run out               17
lbw                   11
caught and bowled      6
stumped                3
Name: dismissal_kind, dtype: int64

caught               10
lbw                   3
bowled                3
caught and bowled     1
Name: dismissal_kind, dtype: int64

LAST 3 YEARS:
caught               26
lbw                   7
bowled                5
run out               2
caught and bowled     1
Name: dismissal_kind, dtype: int64

caught    3
lbw       3
Name: dismissal_kind, dtype: int64