##### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

##### Importing Data

In [2]:
deli = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/deliveries.csv")
match = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/matches.csv")

In [3]:
print("Deliveries:",deli.shape)
deli.head()

Deliveries: (179078, 21)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [4]:
print("Matches:",match.shape)
match.head()

Matches: (756, 18)

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [5]:
deli.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [6]:
match.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

##### Seeing the unique values in some of the columns

In [7]:
for (columnName, columnData) in deli[['inning','batting_team','over','ball','is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs','dismissal_kind']].iteritems(): 
    print('Deliveries - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n') 
print("\n---------------------------------\n")
for (columnName, columnData) in match[['season','city','team1','toss_decision','result','dl_applied','venue']].iteritems(): 
    print('Matches - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n')

Deliveries - Colunm Name: inning
Unique Values: [1 2 3 4 5]

Deliveries - Colunm Name: batting_team
Unique Values: ['Sunrisers Hyderabad' 'Royal Challengers Bangalore' 'Mumbai Indians'
 'Rising Pune Supergiant' 'Gujarat Lions' 'Kolkata Knight Riders'
 'Kings XI Punjab' 'Delhi Daredevils' 'Chennai Super Kings'
 'Rajasthan Royals' 'Deccan Chargers' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Delhi Capitals']

Deliveries - Colunm Name: over
Unique Values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Deliveries - Colunm Name: ball
Unique Values: [1 2 3 4 5 6 7 8 9]

Deliveries - Colunm Name: is_super_over
Unique Values: [0 1]

Deliveries - Colunm Name: wide_runs
Unique Values: [0 2 1 5 3 4]

Deliveries - Colunm Name: bye_runs
Unique Values: [0 1 4 2 3]

Deliveries - Colunm Name: legbye_runs
Unique Values: [0 1 2 5 3 4]

Deliveries - Colunm Name: noball_runs
Unique Values: [0 1 2 5 3]

Deliveries - Colunm Name: penalty_runs
Unique Values: [0 5]

Deliveries - Colunm Name: batsman_runs
Unique Values: [0 4 1 6 3 2 5 7]

Deliveries - Colunm Name: extra_runs
Unique Values: [0 2 1 4 5 3 7]

Deliveries - Colunm Name: total_runs
Unique Values: [ 0  4  2  1  6  3  5  7 10  8]

Deliveries - Colunm Name: dismissal_kind
Unique Values: [nan 'caught' 'bowled' 'run out' 'lbw' 'caught and bowled' 'stumped'
 'retired hurt' 'hit wicket' 'obstructing the field']


---------------------------------

Matches - Colunm Name: season
Unique Values: [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016 2018 2019]

Matches - Colunm Name: city
Unique Values: ['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' nan
 'Mohali' 'Bengaluru']

Matches - Colunm Name: team1
Unique Values: ['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

Matches - Colunm Name: toss_decision
Unique Values: ['field' 'bat']

Matches - Colunm Name: result
Unique Values: ['normal' 'tie' 'no result']

Matches - Colunm Name: dl_applied
Unique Values: [0 1]

Matches - Colunm Name: venue
Unique Values: ['Rajiv Gandhi International Stadium, Uppal'
 'Maharashtra Cricket Association Stadium'
 'Saurashtra Cricket Association Stadium' 'Holkar Cricket Stadium'
 'M Chinnaswamy Stadium' 'Wankhede Stadium' 'Eden Gardens'
 'Feroz Shah Kotla' 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Green Park' 'Punjab Cricket Association Stadium, Mohali'
 'Sawai Mansingh Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Dr DY Patil Sports Academy' 'Newlands' "St George's Park" 'Kingsmead'
 'SuperSport Park' 'Buffalo Park' 'New Wanderers Stadium'
 'De Beers Diamond Oval' 'OUTsurance Oval' 'Brabourne Stadium'
 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'M. A. Chidambaram Stadium' 'Feroz Shah Kotla Ground'
 'M. Chinnaswamy Stadium' 'Rajiv Gandhi Intl. Cricket Stadium'
 'IS Bindra Stadium' 'ACA-VDCA Stadium']

##### Shortening and Changing similiar names for easier understanding

In [8]:
old = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals']
new = ['SRH', 'RCB', 'MI', 'RPS', 'GUJ', 'KKR', 'KXIP', 'DC', 'CSK', 'RR', 'SRH', 'KOCHI', 'PUNE', 'RPS', 'DC']
deli = deli.replace(old, new )
match = match.replace(old, new)

print(deli['batting_team'].unique(), "Size:",deli['batting_team'].unique().shape[0],'\n')
print(match['team1'].unique(), "Size:",match['team1'].unique().shape[0])

['SRH' 'RCB' 'MI' 'RPS' 'GUJ' 'KKR' 'KXIP' 'DC' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

['SRH' 'MI' 'GUJ' 'RPS' 'RCB' 'KKR' 'DC' 'KXIP' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

In [9]:
new_stad = ['Rajiv Gandhi International Stadium',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
 'Green Park', 'Punjab Cricket Association IS Bindra Stadium',
 'Sawai Mansingh Stadium', 'M. A. Chidambaram Stadium',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi International Stadium',
 'Punjab Cricket Association IS Bindra Stadium', 'ACA-VDCA Stadium'] 
 
old_stad = ['Rajiv Gandhi International Stadium, Uppal',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Green Park', 'Punjab Cricket Association Stadium, Mohali',
 'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium, Motera', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
 'IS Bindra Stadium', 'ACA-VDCA Stadium'] 

match = match.replace(old_stad, new_stad) 
match['venue'].unique()

array(['Rajiv Gandhi International Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
       'Green Park', 'Sawai Mansingh Stadium',
       'M. A. Chidambaram Stadium', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium', 'Sardar Patel Stadium',
       'Barabati Stadium', 'Vidarbha Cricket Association Stadium',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'ACA-VDCA Cricket Stadium', 'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'ACA-VDCA Stadium'], dtype=object)

In [10]:
old_diss = [None, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled', 'stumped',
 'retired hurt', 'hit wicket', 'obstructing the field']
new_diss = ["0","1","1","0","1","1","1","0","1","0"]
deli['dismissal_kind'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['dismissal_kind'] = deli['dismissal_kind'].astype(int)

In [11]:
year = match['season'].sort_values().unique()

##### Removing data of matches that were not played

In [12]:
match.iloc[np.where(match['winner'].isnull() == True)]

        id  season       city  ...          umpire1       umpire2         umpire3
300    301    2011      Delhi  ...        SS Hazare     RJ Tucker             NaN
545    546    2015  Bangalore  ...        JD Cloete     PG Pathak             NaN
570    571    2015  Bangalore  ...  HDPK Dharmasena  K Srinivasan             NaN
744  11340    2019  Bengaluru  ...      Nigel Llong  Ulhas Gandhe  Anil Chaudhary

[4 rows x 18 columns]

In [13]:
print(match.shape)
match.iloc[np.where(match['result'] == 'no result')]

(756, 18)

        id  season       city  ...          umpire1       umpire2         umpire3
300    301    2011      Delhi  ...        SS Hazare     RJ Tucker             NaN
545    546    2015  Bangalore  ...        JD Cloete     PG Pathak             NaN
570    571    2015  Bangalore  ...  HDPK Dharmasena  K Srinivasan             NaN
744  11340    2019  Bengaluru  ...      Nigel Llong  Ulhas Gandhe  Anil Chaudhary

[4 rows x 18 columns]

In [14]:
match = match.drop(np.where(match['result'] == 'no result')[0])
print(match.shape)

(752, 18)

## Functions

##### Head to Head Score Function

In [15]:
def head(t1, t2):
  s1 = (match['team1'] == t1) & (match['team2'] == t2)
  s2 = (match['team1'] == t2) & (match['team2'] == t1)
  head_to_head = match.iloc[np.where(s1)]
  head_to_head = head_to_head.append(match.iloc[np.where(s2)]).sort_values(by = 'season').reset_index().drop(['id','index'], axis=1)
  t1_win=0
  t2_win=0
  for i in head_to_head['winner']:
    if i == t1:
      t1_win+=1
    if i == t2:
      t2_win+=1
  t1_arr = []
  t2_arr = []
  year_arr = []
  for i in head_to_head[['season','winner']].iterrows():
      index, year, win = i[0], i[1][0], i[1][1]
      if year in year_arr:
          if win == t1:
              t1_arr[year_arr.index(year)]+=1  
          if win == t2:
              t2_arr[year_arr.index(year)]+=1  
      else:
          year_arr.append(year)
          if win == t1:
              t1_arr.append(1)
              t2_arr.append(0)
          if win == t2:
              t1_arr.append(0)
              t2_arr.append(1)
  win_by_year = pd.DataFrame([t1_arr, t2_arr], columns = year_arr, index = [t1, t2])
  print("Head to Head:",t1,'v/s',t2)
  print(t1+':', t1_win)
  print(t2+':', t2_win) 
  return win_by_year

##### Wins By Year Function

##### Toss Function

In [16]:
def toss(t1, t2):
  t1_toss = match[match['toss_winner']==t1].reset_index()['toss_decision']
  t2_toss = match[match['toss_winner']==t2].reset_index()['toss_decision']
  toss_df = t1_toss.append(t2_toss).reset_index().drop(['index'], axis=1)
  field = 0
  bat = 0
  for i in toss_df['toss_decision']:
      if i == 'field':
        field+=1
      if i == 'bat':
        bat+=1
  print("Toss Prediction:")
  print('Field:',field)
  print('Bat:', bat)

##### Bowler wickets calculation function

In [17]:
def wicketsDef(name):
    bowler = deli[deli['bowler'] == name]
    bowler = bowler[['match_id','bowler','dismissal_kind']].reset_index().drop(['index'], axis=1)
    out = bowler.groupby(['match_id'], sort = False)['dismissal_kind'].sum().reset_index()
    out['wickets'] = out['dismissal_kind']
    out = out.drop(['dismissal_kind'], axis=1)
    wick = out['wickets'].values
    tot_wic = 0
    tot_mat = 0
    for i in wick:
        tot_wic += i
        tot_mat+=1
    print('Till date',name, 'has taken',tot_wic,'wickets in',tot_mat,'matches at an average of',tot_wic/tot_mat,'wickets per match.')

##### Batsman runs calculation function

In [18]:
def runsDef(name):
    batsman = deli[deli['batsman'] == 'RG Sharma']
    runs = batsman[['match_id','batsman_runs']].reset_index().drop(['index'], axis=1)
    runs = runs.groupby(['match_id'], sort = False)['batsman_runs'].sum().reset_index()
    runs['runs'] = runs['batsman_runs']
    runs = runs.drop(['batsman_runs'], axis=1)
    run = runs['runs'].values
    tot_run = 0
    tot_mat = 0
    for i in run:
        tot_run += i
        tot_mat+=1
    print('Till date',name, 'has made',tot_run,'runs in',tot_mat,'matches at an average of',tot_run/tot_mat,'runs per match.')

## Predicting Outputs

##### Defining Variables

In [19]:
bowler = 'K Rabada'
batsman = 'RG Sharma'
t1, t2 = 'DC','MI'

##### Calling functions

In [20]:
head_tab = head(t1, t2)
head_tab

Head to Head: DC v/s MI
DC: 12
MI: 12

    2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
DC     1     2     0     0     2     1     1     1     1     0     2     1
MI     1     0     2     2     0     1     1     1     1     2     0     1

In [22]:
toss(t1,t2)
print()
wicketsDef(bowler)
print()
runsDef(batsman)

Toss Prediction:
Field: 113
Bat: 74

Till date K Rabada has taken 31 wickets in 18 matches at an average of 1.7222222222222223 wickets per match.

Till date RG Sharma has made 4914 runs in 182 matches at an average of 27.0 runs per match.